Screen {
  layout: horizontal;
}

.box {
  width: 1fr;
  height: 100%;
  border: solid green;
}

Static {
  content-align: center middle;
  background: crimson;
  height: 1fr;
  border: solid darkred;
}

.column {
  width: 1fr;
}
