#dialog {
  height: 100%;
  margin: 4 8;
  background: $panel;
  color: $text;
  border: tall $background;
  padding: 1 2;
}

Button {
  width: 1fr;
  border: solid red;
}

.question {
  text-style: bold;
  content-align: center middle;
  height: 100%;
}

.buttons {
  width: 100%;
  height: auto;
  dock: bottom;
}
